<!--create html-->
 <!DOCTYPE html>
 
 <html>
   <head>
     <title>identifying my skin type </title>
     <body>
       <h1 class="header">your skin type</h1>
       <form action="/results" method="post">
       
       <h2>How does your skin feel when you wake up in the morning?</h2>
       <input type="radio" name="feel" value = "">oily<br >
       <input type="radio" name="feel" value ="" >combinational<br>
       <input type="radio" name= "feel" value = "">Dry<br>
       <input type="radio" name="feel" value="">balance/normal<br>
        
      <h2>By mid-day/evening how does you skin look?</h2>
       <input type="radio" name="look" >Shiny, oily in certain spots, especially in the T-z.one<br>
  
        <input type="radio" name="look" = >Dry and Flaky. It feels tight and dehydrated<br>
        <input type="radio" name="look" = >Blotchy and Dry in some areas and shiny in t-zone<br>
        <input type="radio" name="look" = > No shininess or any kind of dryness<br>

       
       
        <h2>What kinds of products do you find yourself using more frequently?</h2>
        <input type ="radio" name="products" >Exfoliators/cleansers<br>
        <input type = "radio" name ="products" >Moisturizers/creams/oils<br>
        <input type = "radio" name = "products" >A combination of one or more<br>
       
     </body>
   </head>
 </html>