<!--create html-->
 <!DOCTYPE html>
 
 <html>
   <head>
     <title>identifying my skin type </title>
     <body>
       <h1 class="header">your skin type</h1>
       <form action="/results" method="post">
       
       <h2>How does your skin feel when you wake up in the morning?</h2>
       <input type="radio" name="feel" value = "">oily<br >
       <input type="radio" name="feel" value ="" >combinational<br>
       <input type="radio" name= "feel" value = "">Dry <br>
       <input type="radio" name="feel" value="">balance/normal<br>
        
      <h2>By mid-day/evening how does you skin look?</h2>
       <input type="radio" name="look" >   
        <input type="radio" name="look" value=""  >
        <input type="radio" name="look" value = "" >
       
       
        <h2>What kinds of products do you find yourself using more frequently?</h2>
        <input type ="radio" name="products" > Exfoliators/cleansers <
        <input type = "radio" name ="products"  >
        <input type = "radio" name = "products" value  >
       
     </body>
   </head>
 </html>