<!DOCTYPE html>

<html>
    <head>
      <title>Oily Skin Tips</title></head>
    <body>
      <p class="oily_skin"> 
      You have oily skin! Please see some tips below to best take care of your skin and have a healthy glow.</p>
    </body>
</html>