<!DOCTYPE html>

<html>
    <head>
      <title>Oily Skin Tips</title></head>
    <body>
      <p class="oily_skin"> 
      You have oily skin! Please see some tips below to best take care of your skin and have a healthy glow.</p>
      <p class= "tips">
        <img src:"https://www.bodyandbeans.com/wp-content/uploads/2017/09/natural-face-care-tips-for-oily-skin-thatll-make-you-glow.jpg
      </p>
    </body>
</html>